@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MVC5 E-commerce</h1>
    <p class="lead">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut eleifend eros. Integer
        molestie turpis sagittis libero ultricies, ac sagittis arcu blandit. Morbi eu neque egestas,
        interdum leo sed, pharetra massa. Quisque ac luctus erat. Mauris id feugiat tellus.
    </p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Company</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut eleifend eros. Integer 
            molestie turpis sagittis libero ultricies, ac sagittis arcu blandit. Morbi eu neque egestas, 
            interdum leo sed, pharetra massa. Quisque ac luctus erat. Mauris id feugiat tellus. 
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("About company", "About", "Home") </a></p>
    </div>
    <div class="col-md-4">
        <h2>People</h2>
        <p>Quisque ac luctus erat. Mauris id feugiat tellus. Morbi tincidunt elit tortor, sit amet malesuada 
        velit dictum sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam laoreet aliquam lacus, 
        a euismod justo dignissim sed. 
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("People", "Contact", "Home") </a></p>
    </div>
    <div class="col-md-4">
        <h2>Products</h2>
        <p>
            Quisque ac luctus erat. Mauris id feugiat tellus. Morbi tincidunt elit tortor, sit amet malesuada
            velit dictum sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam laoreet aliquam lacus,
            a euismod justo dignissim sed.
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Products", "Index", "Product") </a></p>
    </div>
</div>